dotenv
duckduckgo-search
wikipedia
langchain>=0.1.0
langchain_community
langchain_openai
langgraph
numpy
numexpr
fastapi
uvicorn
pydantic
sympy
openai
pytest
pytest-asyncio
httpx
pydantic
httpx
unittest-xml-reporting